@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
body {
  font-family: DM Sans;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #191919;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  text-align: center;
  background: #118da8;
  border-radius: 6px;
  color: #fff;
  padding: 12px 20px;
  font-size: 17px;
  line-height: calc(27 / 17 * 100%);
}

@media (max-width: 1300.98px) {
  .button {
    padding: 10px 18px;
  }
}

@media (max-width: 992.98px) {
  .button {
    padding: 10px 14px;
  }
}

.button:hover {
  background: #06b2d9;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1300px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0px 30px 0px 0px;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__body {
  position: relative;
}

.menu__list li {
  position: relative;
  margin: 0px 0px 0px 40px;
}

.menu__link {
  color: #fff;
  font-size: 17px;
  line-height: calc(27 / 17 * 100%);
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link_blue {
  color: #118da8;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0px;
  }
}

body._lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .menu__icon {
    position: relative;
    z-index: 5;
    display: block;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 11%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 130px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active::before {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #000;
  }
  .menu__body::before {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: -100%;
    height: 100px;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 45px 0px;
    text-align: center;
  }
  .menu__list > li:last-child {
    margin: 0;
  }
  .menu__link {
    font-size: 45px;
    letter-spacing: 5px;
    padding: 0px 10px;
  }
}

.nextlevel {
  position: relative;
  padding: 140px 0px 0px 0px;
}

.nextlevel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nextlevel__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
}

.nextlevel__image::before {
  content: "";
  background: url("../img/pictures/nextlevel/podcast-decor.svg") left no-repeat;
  position: absolute;
  z-index: 4;
  top: -26px;
  left: -4%;
  width: 72px;
  height: 82px;
  -webkit-animation: decor 1.6s linear infinite alternate;
          animation: decor 1.6s linear infinite alternate;
}

@-webkit-keyframes decor {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes decor {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

.nextlevel__image img {
  border-radius: 15px;
}

.nextlevel__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 294px 0px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nextlevel__title {
  font-size: 70px;
  line-height: calc(88 / 70 * 100%);
  letter-spacing: 3.2px;
  margin: 0px 0px 90px 0px;
}

.nextlevel__title_decor {
  position: relative;
}

.nextlevel__title_decor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 11px;
  background: url("../img/pictures/nextlevel/next-decor.svg") left no-repeat;
}

.nextlevel__title_bold {
  font-weight: 700;
}

.links-nextlevel__title {
  margin: 0px 0px 16px 0px;
}

.links-nextlevel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-nextlevel__list li:not(:last-child) {
  margin: 0px 17px 0px 0px;
}

@media (max-width: 992.98px) {
  .nextlevel {
    padding: 110px 0px 30px 0px;
  }
  .nextlevel__title {
    text-align: center;
    margin: 0px 0px 50px 0px;
  }
  .nextlevel__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .nextlevel__content {
    padding: 0;
  }
  .nextlevel__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-position: right;
       object-position: right;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.4;
  }
  .nextlevel__image::before {
    content: "";
    display: none;
  }
  .links-nextlevel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .links-nextlevel__title {
    font-size: 30px;
    margin: 0px 20px 0px 0px;
  }
  .links-nextlevel__title::after {
    content: ":";
  }
}

@media (max-width: 767.98px) {
  .nextlevel__title {
    font-size: 50px;
    margin: 0px 0px 30px 0px;
  }
  .nextlevel__title_decor::after {
    content: "";
    display: none;
  }
}

@media (max-width: 408px) {
  .links-nextlevel__list {
    padding: 15px 0px 0px 0px;
  }
}

.episodes {
  padding: 100px 0px 160px 0px;
}

@media (max-width: 992.98px) {
  .episodes {
    padding: 100px 0px 60px 0px;
  }
}

.episodes__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 1300.98px) {
  .episodes__top {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 992.98px) {
  .episodes__top {
    margin: 0px 0px 24px 0px;
  }
}

@media (max-width: 767.98px) {
  .episodes__top {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.episodes__title {
  font-size: 64px;
  line-height: calc(79 / 64 * 100%);
  letter-spacing: 2.88px;
  padding: 0px 15px 0px 0px;
}

@media (max-width: 1300.98px) {
  .episodes__title {
    font-size: 55px;
  }
}

@media (max-width: 767.98px) {
  .episodes__title {
    padding: 0;
    margin: 0px 0px 12px 0px;
    letter-spacing: 1px;
  }
}

@media (max-width: 479.98px) {
  .episodes__title {
    font-size: 33px;
  }
}

@media (max-width: 767.98px) {
  .episodes__bnt {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.episodes__column:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.item-episodes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  border-radius: 32px;
  padding: 40px;
}

@media (max-width: 992.98px) {
  .item-episodes {
    background-color: transparent;
    padding: 30px;
  }
}

@media (max-width: 479.98px) {
  .item-episodes {
    padding: 22px;
  }
}

.item-episodes__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  min-height: 150px;
  margin: 0px 50px 0px 0px;
}

@media (max-width: 992.98px) {
  .item-episodes__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-position: right;
       object-position: right;
    opacity: 0.1;
  }
}

.item-episodes__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992.98px) {
  .item-episodes__image img {
    border-radius: 32px;
  }
}

.item-episodes__content {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-episodes__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item-episodes__tag {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  background: #191919;
  border-radius: 6px;
  line-height: calc(27 / 18 * 100%);
  padding: 0px 16px;
  margin: 0px 0px 48px 0px;
}

.item-episodes__tag:hover {
  color: #118da8;
}

@media (max-width: 1300.98px) {
  .item-episodes__tag {
    margin: 0px 0px 26px 0px;
  }
}

@media (max-width: 479.98px) {
  .item-episodes__tag {
    margin: 0px 0px 20px 0px;
  }
}

.item-episodes__episode {
  color: #118da8;
  font-size: 17px;
  line-height: calc(27 / 17 * 100%);
  margin: 0px 0px 18px 0px;
}

.item-episodes__episode:hover {
  text-decoration: underline;
}

@media (max-width: 1300.98px) {
  .item-episodes__episode {
    margin: 0px 0px 12px 0px;
  }
}

.item-episodes__title {
  font-size: 64px;
  line-height: calc(70 / 64 * 100%);
  letter-spacing: 2.56px;
  margin: 0px 0px 28px 0px;
}

@media (max-width: 1300.98px) {
  .item-episodes__title {
    margin: 0px 0px 20px 0px;
    font-size: 45px;
  }
}

@media (max-width: 992.98px) {
  .item-episodes__title {
    font-size: 34px;
  }
}

@media (max-width: 479.98px) {
  .item-episodes__title {
    margin: 0px 0px 14px 0px;
    font-size: 30px;
  }
}

.item-episodes__text {
  font-size: 22px;
  line-height: calc(33 / 22 * 100%);
  color: rgba(255, 255, 255, 0.7);
  margin: 0px 0px 18px 0px;
}

@media (max-width: 1300.98px) {
  .item-episodes__text {
    font-size: 18px;
    margin: 0px 0px 14px 0px;
  }
}

.about {
  padding: 100px 0px;
}

@media (max-width: 1300.98px) {
  .about {
    padding: 60px 0px;
  }
}

@media (max-width: 992.98px) {
  .about {
    padding: 40px 0px;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 20px 0px 0px;
}

@media (max-width: 1300.98px) {
  .about__content {
    padding: 0px 30px 0px 0px;
  }
}

@media (max-width: 992.98px) {
  .about__content {
    margin: 0px 0px 22px 0px;
  }
}

.about__host {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #118da8;
  line-height: calc(27 / 18 * 100%);
  margin: 0px 0px 20px 0px;
  position: relative;
}

.about__host::before {
  content: "";
  position: absolute;
  top: -145px;
  left: 0;
  border-radius: 50%;
  background: url("../img/pictures/about/arrow.png") center no-repeat #118da8;
  width: 125px;
  height: 125px;
  -webkit-animation: arrow 1.4s linear infinite alternate;
          animation: arrow 1.4s linear infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    left: 0;
  }
  100% {
    left: 30px;
  }
}

@keyframes arrow {
  0% {
    left: 0;
  }
  100% {
    left: 30px;
  }
}

@media (max-width: 1300.98px) {
  .about__host::before {
    display: none;
  }
}

.about__host:hover {
  text-decoration: underline;
}

@media (max-width: 992.98px) {
  .about__host {
    margin: 0px 0px 8px 0px;
  }
}

@media (max-width: 767.98px) {
  .about__host::after {
    content: ":";
  }
}

.about__title {
  position: relative;
  font-size: 65px;
  line-height: calc(79 / 65 * 100%);
  letter-spacing: 2.88px;
  margin: 0px 0px 28px 0px;
}

@media (max-width: 1300.98px) {
  .about__title::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 10px;
    border-radius: 50%;
    background: url("../img/pictures/about/arrow.png") center no-repeat #118da8;
    width: 125px;
    height: 125px;
    -webkit-animation: arrow_two 1.4s linear infinite alternate;
            animation: arrow_two 1.4s linear infinite alternate;
  }
  @-webkit-keyframes arrow_two {
    0% {
      right: 10px;
    }
    100% {
      right: 30px;
    }
  }
  @keyframes arrow_two {
    0% {
      right: 10px;
    }
    100% {
      right: 30px;
    }
  }
}

@media (max-width: 1300.98px) and (max-width: 992.98px) {
  .about__title::after {
    -webkit-transform: rotate(90deg) scale(0.7);
            transform: rotate(90deg) scale(0.7);
    top: -20px;
    -webkit-animation: arrow_three 1.4s linear infinite alternate;
            animation: arrow_three 1.4s linear infinite alternate;
  }
  @-webkit-keyframes arrow_three {
    0% {
      top: -20px;
    }
    100% {
      top: -45px;
    }
  }
  @keyframes arrow_three {
    0% {
      top: -20px;
    }
    100% {
      top: -45px;
    }
  }
}

@media (max-width: 1300.98px) and (max-width: 767.98px) {
  .about__title::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .about__title {
    margin: 0px 0px 22px 0px;
  }
}

@media (max-width: 479.98px) {
  .about__title {
    font-size: 48px;
  }
}

.about__text {
  font-size: 22px;
  line-height: calc(33 / 22 * 100%);
  color: rgba(255, 255, 255, 0.7);
}

.about__text p:not(:last-child) {
  margin: 0px 0px 33px 0px;
}

@media (max-width: 767.98px) {
  .about__text p:not(:last-child) {
    margin: 0px 0px 18px 0px;
  }
}

@media (max-width: 479.98px) {
  .about__text {
    font-size: 18px;
  }
}

.about__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 650px;
}

@media (max-width: 992.98px) {
  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 0px;
  }
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 992.98px) {
  .about__image img {
    position: static;
  }
}

.subscribe {
  padding: 100px 0px;
}

@media (max-width: 1300px) {
  .subscribe {
    padding: 70px 0px;
  }
}

@media (max-width: 992.98px) {
  .subscribe {
    padding: 50px 0px;
  }
}

.subscribe__body {
  position: relative;
  background: #000000;
  border-radius: 32px;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__body::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: -38px;
  background: url("../img/pictures/subscribe/decor.svg") left no-repeat;
  width: 147px;
  height: 91px;
  -webkit-animation: decor 1.6s linear infinite alternate;
          animation: decor 1.6s linear infinite alternate;
}

@media (max-width: 1350px) {
  .subscribe__body::before {
    left: -12px;
  }
}

@media (max-width: 1380px) {
  .subscribe__body::before {
    left: 0px;
    bottom: -42px;
  }
}

@media (max-width: 1046px) {
  .subscribe__body::before {
    left: -5px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
}

@media (max-width: 787.98px) {
  .subscribe__body::before {
    display: none;
  }
}

@media (max-width: 992.98px) {
  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
  }
}

@media (max-width: 479.98px) {
  .subscribe__body {
    padding: 25px;
  }
}

.subscribe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.subscribe__link {
  display: inline-block;
  line-height: calc(27 / 18 * 100%);
  color: #118da8;
  margin: 0px 0px 10px 0px;
}

.subscribe__link:hover {
  text-decoration: underline;
}

.subscribe__title {
  font-size: 72px;
  line-height: calc(79 / 72 * 100%);
  letter-spacing: 2.88px;
}

@media (max-width: 1300.98px) {
  .subscribe__title {
    font-size: 64px;
  }
}

@media (max-width: 992.98px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 479.98px) {
  .subscribe__title {
    font-size: 38px;
  }
}

.subscribe__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__input {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  padding: 26px 20px;
  background: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
  margin: 0px 0px 20px 0px;
}

.subscribe__input:focus {
  border: 1px solid #118da8;
}

@media (max-width: 479.98px) {
  .subscribe__input {
    padding: 16px 10px;
  }
}

.subscribe__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 992.98px) {
  .subscribe__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.ratings {
  padding: 100px 0px;
}

@media (max-width: 992.98px) {
  .ratings {
    padding: 70px 0px;
  }
}

@media (max-width: 767.98px) {
  .ratings {
    padding: 40px 0px;
  }
}

.ratings__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.ratings__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 8px;
}

@media (max-width: 430.98px) {
  .ratings__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.ratings__item {
  background: #000000;
  border-radius: 32px;
  padding: 52px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (max-width: 767.98px) {
  .ratings__item {
    padding: 32px 36px;
  }
}

@media (max-width: 479.98px) {
  .ratings__item {
    padding: 24px 28px;
  }
}

.ratings__rates {
  margin: 0px 0px 21px 0px;
}

@media (max-width: 479.98px) {
  .ratings__rates {
    margin: 0px 0px 18px 0px;
  }
}

.ratings__comment {
  font-size: 36px;
  line-height: calc(43 / 36 * 100%);
  margin: 0px 0px 19px 0px;
}

@media (max-width: 767.98px) {
  .ratings__comment {
    font-size: 24px;
  }
}

@media (max-width: 479.98px) {
  .ratings__comment {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
  }
}

.ratings__author {
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767.98px) {
  .ratings__author {
    font-size: 18px;
  }
}

.footer {
  padding: 70px 0px;
}

@media (max-width: 992.98px) {
  .footer {
    padding: 40px 0px;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1300.98px) {
  .footer__body {
    gap: 30px;
  }
}

@media (max-width: 992.98px) {
  .footer__body {
    gap: 0;
  }
}

.body-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 560.98px) {
  .body-footer__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  .body-footer__column_1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 55px 0px;
  }
}

@media (max-width: 560.98px) {
  .body-footer__column_1 {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 560.98px) {
  .body-footer__column_2 {
    margin: 0px 0px 30px 0px;
  }
}

.body-footer__logo {
  margin: 0px 0px 20px 0px;
}

.body-footer__social:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.body-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 145px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300.98px) {
  .body-footer__nav {
    gap: 55px;
  }
}

@media (max-width: 560.98px) {
  .body-footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

.body-footer__list li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 560.98px) {
  .body-footer__list li:not(:last-child) {
    margin: 0px 0px 18px 0px;
  }
}

.body-footer__link {
  font-size: 17px;
  line-height: calc(27 / 17 * 100%);
  color: #fff;
}

.body-footer__link_blue {
  color: #118da8;
}

.body-footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 560.98px) {
  .body-footer__link {
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media (max-width: 305.98px) {
  .body-footer__link {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.body-footer__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-footer__apps li:not(:last-child) {
  margin: 0px 17px 0px 0px;
}

@media (max-width: 560.98px) {
  .body-footer__item {
    padding: 12px;
    background-color: #000;
  }
  .body-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.body-footer__title {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: #888;
  background-color: transparent;
  display: none;
}

@media (max-width: 560.98px) {
  .body-footer__title {
    display: block;
    padding: 10px 225px 10px 5px;
  }
}

@media (max-width: 410.98px) {
  .body-footer__title {
    padding: 10px 120px 10px 5px;
  }
}

@media (max-width: 305.98px) {
  .body-footer__title {
    padding: 10px 90px 10px 5px;
  }
}

.body-footer__nav._init .body-footer__title {
  cursor: pointer;
}

.body-footer__nav._init .body-footer__title {
  padding: 10px 225px 10px 5px;
}

@media (max-width: 410.98px) {
  .body-footer__nav._init .body-footer__title {
    padding: 10px 120px 10px 5px;
  }
}

@media (max-width: 305.98px) {
  .body-footer__nav._init .body-footer__title {
    padding: 10px 90px 10px 5px;
  }
}

.body-footer__nav._init .body-footer__title::before,
.body-footer__nav._init .body-footer__title::after {
  content: "";
  border-radius: 6px;
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 19px;
  -webkit-transition: -webkit-transform 0.12s ease 0s;
  transition: -webkit-transform 0.12s ease 0s;
  transition: transform 0.12s ease 0s;
  transition: transform 0.12s ease 0s, -webkit-transform 0.12s ease 0s;
}

.body-footer__nav._init .body-footer__title::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0px;
}

.body-footer__nav._init .body-footer__title._active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.body-footer__nav._init .body-footer__title::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 11.5px;
}

.body-footer__nav._init .body-footer__title._active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.body-footer__nav._init .body-footer__list {
  margin: 15px 0px 0px 0px;
}
